{% from 'bootstrap5/utils.html' import render_messages %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        
        <style>
            pre {
                background: #ddd;
                padding: 10px;
            }
            h1 {
                margin-top: 20px;
                font-size: 72px;
            }
            footer {
                margin: 20px;
            }
        </style>

        <title>Welcome to hugging-flask!</title>
        <div class="container" ><div class="d-flex justify-content-center"><h1 title="hugging-flask">🤗🧪</h1></div></div>
    </head>
    <body class="container">
        <!-- Your page content -->
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
    <footer class="text-center">
        {% block footer %}
            <small> &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/hadleyrose/hugging-flask">Hadley Rose</a>
            </small>
        {% endblock %}
    </footer>
</html>
